.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.NavbarBrand {
  margin-left: 20px;
}

.fade-enter, .fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZXkwYzM1MDNiODZubTFhcHA3eWd4N2YzN3U0NTF4ZTd0czdrNHR4ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HBt1lszlxqZ5XBfF14/giphy.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000; /* Ensure it overlays other elements */
  opacity: 0;
}

.fade-enter-active, .fade-exit-active {
  opacity: 1;
  transition: opacity 700ms ease-in-out;
}

.fade-exit-active {
  opacity: 0;
}
